{% extends 'partials/base.html'%}
{% load bootstrap5 %}
{% load static %}
{% block title%}Leave a Review{% endblock %}
{% block css %}
<link href="{% static 'visitors/css/signup.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% if name %}
        <div class="row">
            <h2>Thanks {{name}} for your review</h2>
            <h3>Our team has to validate the content before publishing</h3>
            <h4>Thank you for your understanding</h4>
        </div>
        {% else %}
        <center><form class="" method="post">
            <h3 class="text-center mt-3 mb-3"> Give us your feedback !</h3>
            {% csrf_token %}
            {% for field in form %}
            {% bootstrap_field field show_label=False %}
            {% endfor %}
            <center><button class="btn fs-4" style="background-color:#193051;color:white">Leave a Review</button></center>

        </form></center>
        {%endif%}
    </div>
</div>
{% endblock%}