{% extends 'partials/base.html'%}
{% load bootstrap5 %}
{% load static %}
{% block title%}Ask Question{% endblock %}
{% block css %}
<link href="{% static 'visitors/css/signup.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% if name %}
        <div class="row contact">
            <h2>Thanks {{name}}</h2>
            <h2>We received your email and will respond shortly</h2>
        </div>
        {% else %}
        <center><form method="post">
             <h3 class="text-center mt-3 mb-5">What is your question ?</h3>
            {% csrf_token %}
            {% for field in form %}
            {% bootstrap_field field show_label=False %}
            {% endfor %}
            <center><button class="btn fs-5" style="background-color:#193051;color:white">ASK</button></center>

        </form></center>
        {%endif%}
    </div>
</div>
{% endblock%}