{% extends 'partials/base.html'%}
{% load bootstrap5 %}
{% load static %}
{% block title%}Add Common Question{% endblock %}
{% block css %}
<link href="{% static 'visitors/css/questions.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% if user.is_staff %}
<div class="container">
    <div class="row">
        <center><form class="" method="post">
            <h2 class="text-center" style="color:#0fb4a9"> ADD A QUESTION</h2>
            {% csrf_token %}
            {% for field in form %}
            {% bootstrap_field field show_label=False %}
            {% endfor %}
            <button class="btn fs-4" style="background-color:#193051;color:white">Save</button>
        </form></center>
    </div>
</div>
{%endif%}
{% endblock%}