h3 {color:#0fb4a9}

form {width:450px;
      border: 2px solid #0fb4a9;
      padding: 20px 50px;
      background-color:white;
}

body {background:url('/static/visitors/image/image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(80%) ;}

h5 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid grey;
   line-height: 0.1em;
   margin: 10px 0 20px;
   color:grey
}

h5 span {
    background:white;
    padding:0 10px;
}

@media (max-width: 500px) {
form{width:80vw}}