.what_for{ background:url('/static/visitors/image/famille.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:top;
        padding-top:80px;
        padding-bottom:80px;
        filter: opacity(50%);}



.profile-hover:hover {background-color:#0fb4a9 !important;}

.save-change{background-color:#193051;
color:white}

.save-change:hover {transform:scale(1.1)}

.facebook:hover {
color:white;
transform:scale(1.1);}

.fb_text:hover{color:white}

.fb_text{border:1px #3B5998 solid;
padding: 10px;
color:white;
background-color:#3B5998}

.facebook{margin-bottom:40px}

.google:hover {
color:white;
transform:scale(1.1);}

.google_text:hover{color:white}

.google_text{border:1px #DB4437 solid;
padding: 10px 20px;
color:white;
background-color:#DB4437}

@media (max-width: 500px) {
.fb_text{
padding: 5px;}

.google_text{padding:5px 15px}
}
