{% extends 'partials/base.html'%}
{% load bootstrap5 %}
{% load static %}
{% block title%}Medical File{% endblock %}
{% block css %}
<link href="{% static 'visitors/css/styles2.css' %}" rel="stylesheet">
{%endblock%}
{% block content %}
<div class="container ms-5 me-5">
<h2 class="mb-4" style="text-decoration:underline">Medical File</h2>

{% if user.is_authenticated %}
<ul class="">
  <li><b>Reason:</b> {{user.medicalprofile.reason_for_visit}}</li>
  <li class=""><b>Symptoms that appear:</b> {{user.medicalprofile.symptoms_appear}}</li>
  <li class=""><b>Pain (scale 0 to 10):</b> {{user.medicalprofile.rate_your_pain}}</li>
  <li class=""><b>Area of pain:</b> {{user.medicalprofile.area_of_pain}}</li>
  <li class=""><b>Frequency of pain:</b> {{user.medicalprofile.frequency_of_pain}}</li>
  <li class=""><b>Interfere with:</b> {% for int in user.medicalprofile.interfere_with.all %} {{int}}- {%endfor%}</li>
  <li class=""><b>Activities that aggravate condition:</b> {% for int in user.medicalprofile.activities_aggravate_condition.all %} {{int}}- {%endfor%}</li>
  <li class=""><b>Activities that make pain better:</b> {% for int in user.medicalprofile.make_pain_better.all %} {{int}}- {%endfor%}</li>
  <li class=""><b>Symptoms:</b> {% for int in user.medicalprofile.symptoms.all %} {{int}}- {%endfor%}</li>
  <li class=""><b>Suffered from the following medical condition:</b> {% for int in user.medicalprofile.suffered_from_medical.all %} {{int}}- {%endfor%}</li>
  <li class=""><b>Family history:</b> {% for int in user.medicalprofile.family_history.all %} {{int}}- {%endfor%}</li>
  <li class=""><b>Height:</b> {{user.medicalprofile.height}}</li>
  <li class=""><b>Weight:</b> {{user.medicalprofile.weight}}</li>
  <li class=""><b>All surgical procedures:</b> {{user.medicalprofile.surgical_procedure}} </li>
  <li class=""><b>Smoke:</b> {% if user.medicalprofile.smoke is False %}No {%else%} Yes{%endif%} </li>
  <li class=""><b>Drink:</b> {% for int in user.medicalprofile.drink.all %} {{int}}- {%endfor%}</li>
  <li class=""><b>Recreational drugs:</b> {% if user.medicalprofile.recreational_drugs is False %}No {%else%} Yes{%endif%} </li>



</ul>
    <a class="btn save-change" href="{% url 'update_medical_profile' user.medicalprofile.id %}" title="Update medical form">Update</a>

{% endif %}

</div>
{% endblock %}