{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Medical Profile Add
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h2 class="text-center" style="color:#193051"> Medical Form</h2>
        <form method="post" class="">
            {% csrf_token %}
            {{ form|crispy }}
            <center><button class="btn fs-4" style="background-color:#193051;color:white">Save</button></center>
            <button type='reset' class="btn fs-4" style="background-color:#0fb4a9">Clear All</button>

        </form>
    </div>
</div>
{% endblock %}