{% extends 'partials/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block title %}
My Exercises
{% endblock %}
{% block content %}
{%if messages%}
{%for message in messages%}
<div class="alert alert-info">{{message}}<br></div>
{%endfor%}
{%endif%}
{% if user.is_authenticated %}
<div class="container shadow-lg">
    <h2 class="text-center pt-5" style="color:#193051">EXERCISES</h2>
    <div class="row mt-3">
        {% if not user.is_staff%}
        <div class="col-12 col-sm-12 col-md-4 mb-5">
            <center><div class="card" style="width: 13rem;background-color:#193051; color:white">
                <div class="card-body">
                    <h5>MY ACCOUNT</h5>
                </div>
                <ul class="list-group list-group-flush" >
                    <a href ="{% url 'my_profile' %}" style="text-decoration:none"><li class="list-group-item profile-hover text-start" style="background-color:#193051; color:white; border-top: 1px solid white">Profile<i class="fas fa-chevron-right position-absolute top-40 end-0 me-3 mt-1"></i></li></a>
                    {% if user.medicalprofile.id %}
                    <a href ="{% url 'medical_profile' user.medicalprofile.id %}" style="text-decoration:none"><li class="list-group-item profile-hover text-start" style="background-color:#193051; color:white;border-top: 1px solid white">Medical File<i class="fas fa-chevron-right position-absolute top-40 end-0 me-3 mt-1"></i></li></a>
                    {% else %}
                    <a href ="{% url 'add_medical' %}" style="text-decoration:none"><li class="list-group-item profile-hover text-start" style="background-color:#193051; color:white; border-top: 1px solid white">Fill Medical File<i class="fas fa-chevron-right position-absolute top-40 end-0 me-3 mt-1"></i></li></a>
                    {% endif %}
                    <a href ="{% url 'my_schedules' %}" style="text-decoration:none"><li class="list-group-item profile-hover text-start" style="background-color:#193051; color:white; border-top: 1px solid white">My Appointments<i class="fas fa-chevron-right position-absolute top-40 end-0 me-3 mt-1"></i></li></a>
                    <a href ="{% url 'my_exercises' user.id %}" style="text-decoration:none"><li class="list-group-item profile-hover text-start" style="background-color:#193051; color:white;border-top: 1px solid white">My Exercises<i class="fas fa-chevron-right position-absolute top-40 end-0 me-3 mt-1"></i></li></a>
                    <a href ="{% url 'logout' %}" style="text-decoration:none"><li class="list-group-item profile-hover text-start" style="background-color:#193051; color:white;border-top: 1px solid white">Logout<i class="fas fa-sign-out-alt position-absolute top-40 end-0 me-3 mt-1"></i></li></a>
                </ul>
            </div></center>
        </div>
        {% endif%}
        {% for ex in my_exercises %}
        <div class="col-xs-12 col-sm-6 col-lg-4 mb-3 ">
            <div class="card " style="width: 19rem;">
                <video  width='300' height= '150' type="video/mp4" controls>
                    <source src="{{ex.video.url}}" type='video/mp4'>
                    Your browser does not support the video tag.
                </video>
                <div class="card-body">
                    <h5 class="card-title">{{ex.title}}</h5>
                    <p class="card-text">Category: {% for cat in ex.category.all %}{{cat.name}}{%endfor%}
                        {% if user.is_staff %}
                        <a href="{% url 'remove_ex' ex.id  userid %}" style="color:red">Remove</a>
                        {% endif %}
                    </p>
                    <p class="text-decoration-underline">Instruction
                        {% if user.is_staff %}
                        <a href="{% url 'instruction' userid ex.id %}" title="Add instruction" class="text-decoration-none"><i class="fas fa-plus-circle"></i></a>
                        {% endif %}
                    </p>
                    {% for inst in ex.instruction_set.all %}
                    <li>{{inst.content}} <i>given since {{inst.date | timesince}} </i>
                        {% if user.is_staff %}
                        <a href="{% url 'delete_instruction' inst.id %}" title="delete instruction"><i class="fas fa-trash-alt" style="color:red"></i></a>
                        <a href="{% url 'update_instruction' inst.id %}" title="update instruction"><i class="fas fa-pen "style="color:green"></i></a>
                        {% endif %}
                    </li>
                    {% empty %}
                    <p>No instruction was given by Yoram</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% empty %}
        <h4>No exercises</h4>
        {% endfor %}
        <p></p>
        <p></p><p></p>
        {% if user.is_staff %}
        <h4>Exercises that you can add to the patient</h4>
        {% for exo in exercises%}
        <div class="col-xs-12 col-sm-6 col-lg-4 mb-3 ">
            <div class="card " style="width: 20rem;">
                <video  width='300' height= '150' type="video/mp4" controls>
                    <source src="{{exo.video.url}}" type='video/mp4'>
                    Your browser does not support the video tag.
                </video>
                <div class="card-body">
                    <h5 class="card-title">{{exo.title}}</h5>
                    <p class="card-text">Category: {% for cat in exo.category.all %}{{cat.name}}{%endfor%}
                        <a href="{% url 'add_ex' userid exo.id %}" title="add" style="color:green">Add</a>
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <p>You gave to this patient all the existing exercises in the platform</p>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endif %}
{%endblock%}