{% extends 'partials/base.html' %}
{% load bootstrap5 %}
{% block title %}
Reset your Password
{% endblock %}

{% block content %}
<div class="container me-5 ms-5 ">
    <h1 class="text-center fw-bolder" style="color:#0fb4a9">Forgotten your Password</h1>

    <p>Enter your Email address to obtain a new password</p>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn fs-4" style="background-color:#0fb4a9">Send Email</button>
    </form>
</div>
{% endblock %}