{% extends 'partials/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}
Reset your Password
{% endblock %}
{% block css %}
<link href="{% static 'visitors/css/questions.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">

    <center><form method="post">
        <h1 class="text-center fw-bolder" style="color:#0fb4a9">Forgotten your Password</h1>

        <p>Enter your Email address to obtain a new password</p>
        {% csrf_token %}
        {% for field in form %}
        {% bootstrap_field field show_label=False %}
        {% endfor%}
        <button class="btn fs-4" style="background-color:#0fb4a9">Send Email</button>
    </form></center>
</div>
{% endblock %}