{% extends 'partials/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}
Change your Password
{% endblock %}
{% block css %}
<link href="{% static 'visitors/css/signup.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container me-5">

    <center><form method="post">
        <h1 class="text-center fw-bolder" style="color:#0fb4a9">Change your Password</h1>

        <p>Use the form below to change your password</p>
        {% csrf_token %}
        {% for field in form %}
        {% bootstrap_field field show_label=False %}
        {% endfor%}
        <button class="btn fs-4" style="background-color:#0fb4a9">Change</button>
    </form></center>
</div>
{% endblock %}