{% extends 'partials/base.html'%}
{% load bootstrap5 %}
{% block title %}
Profiles
{% endblock %}
{%block content%}
{%if messages%}
{%for message in messages%}
<div class="alert alert-warning">{{message}}<br></div>
{%endfor%}
{%endif%}
<div class="container">
    <h2 class="text-center" style="color:#193051">All the profiles</h2>
   <div class="row mt-5">
     {% for profile in profiles %}
     <div class="col-4">
<div class="card">
  <h5 class="card-header">{{profile.user.first_name}} {{profile.user.last_name}} ({{profile.user.username}})  <a href="#" class="card-link" title="delete profile"><i class="fas fa-trash-alt" style="color:red"></i></a>
  <a href="{% url 'detail_profile' profile.id%}" class="card-link" title="see profile"><i class="fas fa-eye" style="color:green"></i></a></h5>
  <div class="card-body">
    <p class="card-text">{{profile.user.email}}</p>
    <p class="card-text">{{profile.phone}}</p>
  </div>
</div>
    </div>

{% endfor %}
</div>
</div>
{% endblock %}