{% extends 'partials/base.html'%}
{% load bootstrap5 %}
{% load static %}
{% block title%}Add Exercises{% endblock %}
{% block content %}
{% if user.is_staff %}
<div class="container">
    <div class="row">
        <h2 class="text-center" style="color:#193051"> ADD EXERCISE</h2>
        <form class="contact pt-5 pb-3" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            <center><button class="btn fs-4" style="background-color:#193051;color:white">ADD</button></center>
            <button type='reset' class="btn fs-4" style="background-color:#0fb4a9">Clear All</button>
            <p><a class="btn mt-5 " href="{% url 'exercises' %}" style="background-color:#193051;color:white">All the Exercises</a></p>
        </form>
    </div>
</div>
{%endif%}
{% endblock%}