{% extends 'partials/base.html'%}
{% load bootstrap5 %}
{% load static %}
{% block title%}Exercises{% endblock %}
{% block content %}
{% if user.is_staff %}
{%if messages%}
{%for message in messages%}
<div class="alert alert-info">{{message}}<br></div>
{%endfor%}
{%endif%}
<div class="container">
    <h2 class="text-center">All the Exercises</h2>
    <a class="btn" href="{% url 'add_exercise' %}" style="background-color:#0fb4a9">Add Exercises</a>
    <a class="btn" href="{% url 'categories' %}" style="background-color:#193051;color:white">By Category</a>
    <div class="row mt-3">
        {% for ex in exercises %}
        <div class="col-xs-12 col-sm-6 col-lg-4 mb-3 ">
            <div class="card " style="width: 19rem;">
                <video  width='300' height= '150' type="video/mp4" controls>
                    <source src="{{ex.video.url}}" type='video/mp4'>
                    Your browser does not support the video tag.
                </video>
                <div class="card-body">
                    <h5 class="card-title">{{ex.title}}</h5>
                    <p class="card-text">Category: {% for cat in ex.category.all %}{{cat.name}}  {%endfor%}
                    <a href="{% url 'update_exercise' ex.id %}" class="card-link" title="update"><i class="fas fa-pen "style="color:green"></i></a>
                    <a href="{% url 'delete_exercise' ex.id %}" class="card-link" title="delete"><i class="fas fa-trash-alt" style="color:red"></i></a></p>
                    </p>
                </div>
            </div>
        </div>
        {% empty %}
        <h4>No exercises</h4>
        {% endfor %}
    </div>
</div>



{% endif %}
{% endblock %}
