
  <footer class="container py-3 my-4" style="bottom:0">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3 " >
      <li class="nav-item"><a class="nav-link " href="tel:+972505708866"style="color:#0fb4a9"><i class="fas fa-phone-alt " style="color:#0fb4a9"></i> 050-5708866</a></li>
      <li class="nav-item"><a class="nav-link " href="mailto:ydavid256@gmail.com"style="color:#0fb4a9"><i class="far fa-envelope" style="color:#0fb4a9"></i> ydavid256@gmail.com</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2021 Copyright | Design by <span style="color:blue">Yona_David</span></p>
  </footer>

